body {
  margin: 0;
  font-family: Arial;
}

div.cover {
  background:url(IMG/cover_overlay.png) no-repeat center/100% 100% ,url(IMG/cover.jpg) no-repeat center/cover;
  height: 360px;
}

img.cover-profile{
  height: 100px;
  position: relative;
  left: 50%;
  margin-left: -50px;
  margin-top: 50px;

}

h1{
  color: white;
  text-align: center;
}
div.cover p{
  color: lightgray;
  text-align: center;
}